*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik",sans-serif;
}
body{
  height: 100%;
  background: linear-gradient(to right, #f54d4d, #fab2b2) fixed;
}
.container{
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.container2{
  background-color:#b7a7bb;
  font-size: 20px;
  height: 95%;
  width: 400px;
  padding: 50px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 70%;
  box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
  border-radius: 10px;
  -webkit-perspective: 300px;
  perspective: 300px;
}
a{
  text-decoration: none;
  color: #ffffff;
}
select{
  width: 85%;
}
.stats{
  text-align: right;
  color: #101020;
  font-weight: 500;
  line-height: 25px;
}
.coin{
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.coin img{
  width: 145px;
}
.heads,.tails{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.tails{
  transform: rotateX(180deg);
}
@keyframes spin-tails{
  0%{
      transform: rotateX(0);
  }
  100%{
      transform: rotateX(1980deg);
  }
}
@keyframes spin-heads{
  0%{
      transform: rotateX(0);
  }
  100%{
      transform: rotateX(2160deg);
  }
}
.buttons{
  display: flex;
  justify-content: space-between;
}
button{
  width: 120px;
  padding: 10px 0;
  border: 2.5px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
#flip-button{
  background-color: #000;
  color: #ffffff;
}
#flip-button:disabled{
  background-color: #000;
  color: #fff;
}
#reset-button{
  background-color: #000;
  color: #fff;
}
#boton2{
  left:  50px;
}